In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Freemont.csv')

In [3]:
df.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,02/24/2015 02:00:00 AM,3.0,3.0
1,01/01/2019 12:00:00 AM,0.0,9.0
2,01/01/2019 01:00:00 AM,2.0,22.0
3,02/15/2016 12:00:00 AM,3.0,3.0
4,01/01/2019 02:00:00 AM,1.0,11.0

In [6]:
df['Fremont Bridge East Sidewalk'].value_counts()

1.0      2902
2.0      2819
0.0      2329
3.0      2287
4.0      1874
5.0      1599
6.0      1289
7.0      1184
8.0      1027
9.0       889
10.0      841
11.0      808
12.0      766
15.0      701
13.0      696
14.0      645
17.0      630
18.0      621
19.0      595
20.0      580
16.0      574
26.0      563
21.0      562
23.0      553
25.0      549
22.0      539
27.0      520
24.0      519
28.0      517
30.0      479
         ...
455.0       1
442.0       1
439.0       1
537.0       1
487.0       1
499.0       1
519.0       1
451.0       1
504.0       1
465.0       1
626.0       1
553.0       1
490.0       1
495.0       1
449.0       1
467.0       1
463.0       1
491.0       1
517.0       1
488.0       1
698.0       1
412.0       1
427.0       1
447.0       1
541.0       1
556.0       1
560.0       1
428.0       1
416.0       1
526.0       1
Name: Fremont Bridge East Sidewalk, Length: 493, dtype: int64